.formField {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 10%;
}

.centerStuff{
   margin: auto;
   width: 50%;
   border: 15px solid #85144b;
   padding: 10px;
   margin-top: 100px;
}

.subHeader{
  margin-top: 100px;
  text-align: center;
}

  .submitButton {
  	box-shadow:inset 0px 1px 0px 0px #ffffff;
  	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  	background-color:#ededed;
  	border-radius:6px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	cursor:pointer;
  	color:#777777;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #ffffff;
  }
  .myButton:hover {
  	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  	background-color:#dfdfdf;
  }
  .myButton:active {
  	position:relative;
  	top:1px;
  }

  .errorField{
    margin-top: 20px;
    color: red;
  }
